<div class="wrap">
    <div class="left">
        <h3>Forms</h3>

        <form [formGroup]="checkedForm" (ngSubmit)="onSubmit(checkedForm.value)">
            <div>
                <label for="name">E-mail</label>
                <input id="email" type="email" formControlName="email">
            </div>
            <div>
                <label for="name">Password</label>
                <input id="name" type="text" formControlName="password" required>
            </div>
            <div>
                <label for="name">Confirm Password</label>
                <input id="name" type="text" formControlName="cpassword" required>
            </div>
            <div>
                <label for="name">Nickname</label>
                <input id="name" type="text" formControlName="nickname" required>
            </div>
            <div>
                <label for="name">Phone Number</label>
                <input id="name" type="text" formControlName="number" required>
            </div>
            <div>
                <label for="name">Website</label>
                <input id="name" type="text" formControlName="website" required>
            </div>
            <div>
                <label for="name">I have read the agreement</label>
                <input id="name" type="checkbox" formControlName="agree" required>
            </div>


            <button class="button" type="submit" *ngIf="checkedForm.status === 'INVALID'">Register</button>
        </form>

    </div>

    <div class="right">
        <div>
            <p>E-mail: {{checkedForm.controls.email.value}}</p>
        </div>

        <div>
            <h3>Errors</h3>
            <div *ngIf="checkedForm.controls['email'].invalid">Wrong email format</div>
            <div *ngIf="checkedForm.errors?.invalid">  
                Password doesn't match
            </div>
            <div *ngIf="password.errors?.pattern">
            </div>

            <!-- <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touch)">
        <div *ngIf="nickname.errors.required">
            Nickname is required!
        </div>
        <div *ngIf="name.errors.minlength">
            Minimum length has to be 2
        </div>
        <div *ngIf="name.errors.forbidden">
            Name can't be {{name.value}}
        </div>
    </div>
</div> -->

        </div>
    </div>