<h3>Forms</h3>

<form [formGroup]="checkedForm" (ngSubmit)="onSubmit(checkedForm.value)">
    <div>
        <label for="name">E-mail</label>
        <input id="name" type="text" formControlName="email" required>
    </div>
    <div>
        <label for="name">Password</label>
        <input id="name" type="text" formControlName="password" required>
    </div>
    <div>
        <label for="name">Confirm Password</label>
        <input id="name" type="text" formControlName="cpassword" required>
    </div>
    <div>
        <label for="name">Nickname</label>
        <input id="name" type="text" formControlName="nickname" required>
    </div>
    <div>
        <label for="name">Phone Number</label>
        <input id="name" type="text" formControlName="number" required>
    </div>
    <div>
        <label for="name">Website</label>
        <input id="name" type="text" formControlName="website" required>
    </div>
    <div>
        <label for="name">I have read the agreement</label>
        <input id="name" type="checkbox" formControlName="agree" required>
    </div>


    <button class="button" type="submit" *ngIf="checkedForm.status === 'INVALID'">Register</button>
</form>


<div>
    <h3>Customer</h3>
    <p>Name: {{checkedForm.controls.name.value}}</p>
    <p>Address: {{checkedForm.controls.address.value | json}}</p>
    <p>Form status: {{checkedForm.status}}</p>
    <p>Form errors: {{checkedForm.controls.name.errors | json}}</p>
</div>

<div>
    <h3>Errors</h3>
    <div *ngIf="name.invalid && (name.dirty || name.touch)">
        <div *ngIf="name.errors.required">
            Name is required!
        </div>
        <div *ngIf="name.errors.minlength">
            Minimum length has to be 2
        </div>
        <div *ngIf="name.errors.forbidden">
            Name can't be {{name.value}}
        </div>
    </div>
</div>