.wrap {
    width: 1400px;
    display: flex;
    justify-content: center;

    form {
        padding: 100px;

    div {
    display: flex;
    flex-direction: row;
    text-align: right;

    &.agree {
        text-align: left;
        justify-content: center;

        label {
            width: 200px;
        }
    }

    label {
        width:150px;
        padding-right: 20px;
        text-transform: capitalize;
      }

    input {
        margin-right: 20px;
        height: 25px;
    }
    }
  }
}